body {
    margin-bottom: 20em;
}

h1, h2, h3, h4, h5, h6 {
    margin: .25em auto;
}

h3 {
    font-style: italic;
    font-size: 1.5em;
}

div.layout_container {
    width: 800px;
    margin: 0 auto;
}

div.layout {
    display: inline-block;
    margin: .5em;
    border: .1em solid #ccc;
    vertical-align: middle;
    text-align: center;
}

div > p {
    margin: 0;
    padding: .3em;
}

div > p > small {
    font-size: 1em;
    color: #aaaaaa;
    white-space: nowrap;
}

/*div.comp > p {
    margin-top: 2;
}

div.printer > p {
    margin-top: 1;
}

div.camera > p {
    margin-left: -3;
    margin-top: 1;
}*/


div.comp, div.camera, div.printer {
    width: 5.5em;
    height: 5.5em;
    margin: .5em;
    cursor: pointer;
}

div.spc {
    width: 5.5em;
    height: 5.5em;
    margin: .5em;
    border: .1em solid white;
}

/*

div.vspl {
    border: none;
    width: 10;
    height: 12;
}

div.board {
    width: .5em;
    height: 10em;
    margin-left: -.5em;
}

div.door {
    width: 5;
    height: 0;
    margin-bottom: 3;
}

div.wboard {
    width: 30;
    height: 0;
    margin-bottom: 3;
}

div.table {
    width: 12;
    height: 5;
    margin-left: 10;
}

div.couch {
    width: 11;
    height: 4;
}*/

div#infobox {
    display: none;
    position: absolute;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    width: 800px;
    padding: 1em;
    margin: 0;
    color: #000;
    background: #ddd; /* default background for browsers without gradient support */
    /* css3 */
    background: -webkit-linear-gradient(#ddd, #aaa);
    background: -moz-linear-gradient(#ddd, #aaa);
    background: -o-linear-gradient(#ddd, #aaa);
    background: linear-gradient(#ddd, #aaa);
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    box-shadow: 0 0 2em #444;
}

div#infobox_arrow {
    display: none; 
    position: absolute;
    border-style: solid;
    top: auto; /* value = - border-top-width - border-bottom-width */
    right: auto; /* controls horizontal position */
    bottom: -15px;
    border-width: 1.5em 1.25em; /* vary these values to change the angle of the vertex */
    border-color: transparent transparent #ddd transparent;
    /* reduce the damage in FF3.0 */
    width: 0;
    height: 0;
}

div#infobox ul {
    margin: 1em 0.5em 0 0;
    padding: 0 0 0 1.5em;
    list-style: disc outside none;
}

div#infobox ul ul {
    margin: 0;
    padding: 0 0 0 3em;
    list-style: circle outside none;
}


div#infobox span.offline {
    color: red;
    font-weight: bold;
}

div#infobox span.online {
    color: green;
}

div#infobox span.online_old {
    color: olive;
    font-weight: bold;
}

p.tools {
    display: block;
    float: right;
    margin: 0;
    padding: 0;
}

p.tools > span {
    display: inline-block;
    font-weight: bold;
    margin: .5em;
    padding: .5em;
    width: 1em;
    height: 1em;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
}

p.tools > span:hover {
    box-shadow: .2em .2em .2em #444;
    border: .1em solid #444;
}

p.tools > span:active {
    box-shadow: -.2em -.2em .2em #444;
    background: #888;
}

div.prog {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    height: 1.2em;
    background: #ddd;
    border: 1px solid black;
}

div.prog b {
    display: inline-block;
    overflow: visible;
    white-space: nowrap;
    width: 14em;
    height: 1.2em;
    background: rgba(221,221,221,.75);
    /* css3 */
    background: -webkit-linear-gradient(left, rgba(221,221,221,.75), transparent);
    background: -moz-linear-gradient(right, rgba(221,221,221,.75), transparent);
    background: -o-linear-gradient(right, rgba(221,221,221,.75), transparent);
    background: linear-gradient(to right, rgba(221,221,221,.75), transparent);
}

div.prog div {
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
}

div.prog_blue {
    background: #66c;
    /* css3 */
    background: -webkit-linear-gradient(#66c, #00a);
    background: -moz-linear-gradient(#66c, #00a);
    background: -o-linear-gradient(#66c, #00a);
    background: linear-gradient(#66c, #00a);
}

div.prog_green {
    background: #0a0;
    /* css3 */
    background: -webkit-linear-gradient(#0a0, #050);
    background: -moz-linear-gradient(#0a0, #050);
    background: -o-linear-gradient(#0a0, #050);
    background: linear-gradient(#0a0, #050);
}

div.prog_red {
    background: #c66;
    /* css3 */
    background: -webkit-linear-gradient(#c66, #a00);
    background: -moz-linear-gradient(#c66, #a00);
    background: -o-linear-gradient(#c66, #a00);
    background: linear-gradient(#c66, #a00);
}

div.prog_black {
    background: #444;
    /* css3 */
    background: -webkit-linear-gradient(#444, #000);
    background: -moz-linear-gradient(#444, #000);
    background: -o-linear-gradient(#444, #000);
    background: linear-gradient(#444, #000);
}

div.prog_magenta {
    background: #c6c;
    /* css3 */
    background: -webkit-linear-gradient(#c6c, #a0a);
    background: -moz-linear-gradient(#c6c, #a0a);
    background: -o-linear-gradient(#c6c, #a0a);
    background: linear-gradient(#c6c, #a0a);
}

div.prog_yellow {
    background: #cc6;
    /* css3 */
    background: -webkit-linear-gradient(#cc6, #aa0);
    background: -moz-linear-gradient(#cc6, #aa0);
    background: -o-linear-gradient(#cc6, #aa0);
    background: linear-gradient(#cc6, #aa0);
}

div.prog_cyan {
    background: #6cc;
    /* css3 */
    background: -webkit-linear-gradient(#6cc, #0aa);
    background: -moz-linear-gradient(#6cc, #0aa);
    background: -o-linear-gradient(#6cc, #0aa);
    background: linear-gradient(#6cc, #0aa);
}

pre {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

